.container {
  display: flex;
  flex-direction: column;
  max-width: 346px;
  text-align: center;
}
button {
  display: block;
  width: 75px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #cfcfcf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
button:hover {
  background: #6c8cff;
}
input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input:hover {
  border: 1px solid #000;
}
input:active {
  border: 1px solid #4e75ff;
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 346px;
  gap: 24px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 72px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.cont-input-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}
.main-title {
  margin-bottom: 50px;
}
.cont-input-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.field {
  text-align: center;
}

.value {
  font-size: 2rem;
  display: block;
}
