.container {
  display: flex;
  flex-direction: column;
  max-width: 346px;
  text-align: center;
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 72px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.flatpickr-input {
  display: block;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
